/*-------our-story-------*/

.our-story {
  padding-top: 10rem;
  margin-bottom: 10rem;
}

.content {
  h2 {
    text-align: center;
    text-transform: uppercase;
  }

  &__text {
    margin: 0 auto;
    padding-top: 1rem;
    text-align: center;
    color: $content-text-color;

    @include max-w($screen-md) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    p {
      margin: 0;
    }
  }
}

.story-img {
  overflow: hidden;
  padding-top: 5rem;
  margin-bottom: 10rem;
}

.srory-img__cell {

  @include max-w(767px) {
    padding: 0 30px 0 30px;
    margin-bottom: 30px;
  }

  img {
     @include max-w($screen-md) {
      width: 100%;
    }
  }
}

/*-------meet-us-------*/

.meet-us-block {
  background-image: url(../images/bg-bot.jpg);
  background-size: cover;
  background-position: 50% 100%;
  padding-top: 9.4rem;
  padding-bottom: 10rem;

  &__text {
    text-align: center;
    padding: 0 18px 0 18px;

    h2 {
      padding-top: 28px;
      padding-bottom: 38px;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 0;
      padding-bottom: 42px;
      font-family: $font-family-Garamond_Premr_Pro_Italic;
    }
  }

  &__content {
    max-width: 700px;
  }
}

/*-------slick-slider-------*/

.fade-opacity{
  opacity: 1!important;
}

.slick-arrow {
  display: none!important;
}

.slick-dots li button:before {
  font-size: 46px!important;
}
