
@font-face {
  font-family: 'GaramondPremrPro-It';
  src: url('GaramondPremrPro-It.eot?#iefix') format('embedded-opentype'),  url('GaramondPremrPro-It.otf')  format('opentype'),
	     url('GaramondPremrPro-It.woff') format('woff'), url('GaramondPremrPro-It.ttf')  format('truetype'), url('GaramondPremrPro-It.svg#GaramondPremrPro-It') format('svg');
  font-weight: normal;
  font-style: normal;
}
